body {
    background-color : black;
    color: #fff;
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    background-attachment: fixed;
    place-items: center;
    background-image: url(http://s1.1zoom.me/big0/279/Brazil_Mountains_Sky_444506.jpg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  
  /* timer */
  .base-timer {
    position: relative;
    width: 500px;
    height: 500px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: red;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: none;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: ffffff;
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
  }
  
  #start-button,
  #stop-button,
  #reset-button,
  #set-timer-button {
    margin-top: 50px;
  }
  
  #timer-input {
    width: 30px;
  }
  
  /* Buttons */
  .button-80,
  #timer-input {
    background: none;
    color: #fff;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border: #fff solid 0.125rem;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.3;
    padding: 0.875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-80:not(:disabled):hover {
    transform: scale(1.05);
    background: #fff;
    color: #999;
  }
  
  .button-80:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
  }
  
  .button-80:focus {
    outline: 0 solid transparent;
  }
  
  .button-80:focus:before {
    content: "";
    left: calc(-1 * 0.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1 * 0.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button-80:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button-80:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .button-80:not(:disabled):active {
    transform: translateY(0.125rem);
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  
  /* Phones landscape 480px and below (480x320) */
  @media screen and (min-width: 320px) and (max-width: 780px) {
    /* timer */
    .base-timer {
      position: relative;
      width: 350px;
      height: 350px;
    }
    .base-timer__label {
      position: absolute;
      width: 350px;
      height: 350px;
    }
  
    body {
      height: 100vh;
      background-image: url(http://s1.1zoom.me/big0/279/Brazil_Mountains_Sky_444506.jpg);
      background-repeat: repeat;
      background-attachment: fixed;
    }
  
    /* Buttons */
    .button-80,
    #timer-input {
      font-size: 0.8rem;
      padding: 0.5rem 0.75rem;
    }
  }
  